{% macro import_transactions_modal(form=None, add_account_form=None, existing_accounts=None) %}
<div class="modal" id="importTransactionsModal" tabindex="-1" aria-labelledby="importTransactionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importTransactionsModalLabel">Import Transactions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if form %}
                <form action="{{ url_for('import_transactions') }}" method="POST" enctype="multipart/form-data">
                    {{ form.csrf_token(id='transaction_upload_csrf_token') }}
                    {{ form.account.label }} {{ form.account }}
                    {{ form.file.label }} {{ form.file }}
                    {{ form.submit }}
                </form>
                {% endif %}
                {% if add_account_form %}
                <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addAccountModal">
                    Add Account
                </button>
                <div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="addAccountModalLabel">Add Account</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              {% if add_account_form %}
                              <form id="addAccountForm" action="{{ url_for('add_account') }}" method="POST">
                                  {{ add_account_form.csrf_token(id='add_account_csrf_token') }}
                                  {{ add_account_form.account_name.label }} {{ add_account_form.account_name }}
                                  {{ add_account_form.submit }}
                              </form>
                              {% endif %}

                              {% if existing_accounts %}
                              <h6>Existing Accounts:</h6>
                              <ul>
                                  {% for account in existing_accounts %}
                                      <li>{{ account.name }}</li>
                                  {% endfor %}
                              </ul>
                              {% endif %}
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                      </div>
                  </div>
              </div>
              {% endif %}
          </div>
      </div>
  </div>
</div>
{% endmacro %}
