{% macro import_transactions_modal(form=None, add_account_form=None, existing_accounts=None) %}
<div class="modal" id="importTransactionsModal" tabindex="-1" aria-labelledby="importTransactionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importTransactionsModalLabel">Import Transactions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if form %}
                <form action="{{ url_for('main.import_transactions') }}" method="POST" enctype="multipart/form-data">
                    {{ form.csrf_token(id='transaction_upload_csrf_token') }}
                    {{ form.account.label }} {{ form.account }}
                    {{ form.file.label }} {{ form.file }}
                    {{ form.submit }}
                </form>
                {% endif %}
          </div>
      </div>
  </div>
</div>
{% endmacro %}
